PORT=5000
# Replace this with your actual MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/movie-rating-app?retryWrites=true&w=majority

# Replace this with your secure secret key for JSON Web Tokens
JWT_SECRET=supersecretjwtkey_for_dev_only

# Replace this with your TMDB (The Movie Database) API Key
TMDB_API_KEY=your_actual_api_key_here
